.toolbar{
    position: sticky;
    top: 0px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
}
.title > span {
    padding-left: 8px;
}

.profilePic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.login {
    display: flex;
    align-items: center;
}