.chatForm{
    display: flex;
    align-items: center;
}
.chatText{
    flex-grow: 1;
}
.send{
    margin-left: 8px;
}
.profilePic{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.chat{
    padding-left: 8px;
}

.userName{
    color: rgba(0,0,0,0.54);
    font-size: 14px;
}

.chatContainer{
    display:flex;
    padding-bottom: 12px;

}

.card{
    display:flex;
    flex-direction: column-reverse;
    min-height: 615px;
    width: 520px;
    margin-left: 20px;
    margin-top: 16px;
}

.imageChat{
    max-height: 150px;
    max-width: 150px;
}